.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
    color: black;
}

/* Hover color only applies when .selected is NOT present */
/* .file:hover {
    color: lightblue;
}
.file:not(.selected):hover {
    color: lightblue;
}
.file.selected {
    color: blue;
} */

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#tutorial_button {
    background-color:#007fff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px; 
  }



#wlk-thru-heading {
    margin: 10px 10px 5px 15px;
}

.wlk-thru-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2em;
}

.wlk-thru-section {
    width: 50%;
    border: 1px solid #dddddd;
    padding: 8px;
}

.wlk-thru-dropdown {
    margin: 5px 0;
    padding: 8px;
    width: auto;
    border-color: #007fff;
    color: #007fff;
    &:focus-visible {
        outline-color: #007fff;
    }
}

.wlk-thru-submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007fff;
    color: white;
    border: none;
    border-radius: 4px;
}

.wlk-thru-submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.wlk-thru-right-section ol, .wlk-thru-right-section ul {
    list-style-position: inside;
    padding-left: 5px;
    li::marker {
        color: #007fff;
    }
}

#wlk-thru-Content p {
    margin-top: 8px;
}