.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
    color: black;
}

/* Hover color only applies when .selected is NOT present */
/* .file:hover {
    color: lightblue;
}
.file:not(.selected):hover {
    color: lightblue;
}
.file.selected {
    color: blue;
} */

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#tutorial_button {
    background-color:#007fff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px; 
  }